<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
		</div>
	    <!-- //container -->
	
	    <footer id="footer">
<address>(우)35238 대전광역시 서구 둔산서로 100(둔산동)</address><span class="tel">대표전화 : 042)288-2114/ 팩스 : 042)288-5900</span>
            <span class="copy">Copyright (C) 2014 Seo-gu Office. All rights reserved.</span>	    </footer>
	</div>    
	
	<div class="layer-pop">
		<div class="alert-pop">
		    <div class="alert-pop-head">
		    	<button type="button" onclick="fnClose_layerPopup(); " class="alert-close">닫기</button>
		    </div>
		    <div class="alert-pop-body">
		        <div class="msg">
		        	<div class="type1" style="display: none;">
		            	<strong class="tx2">정상적으로 로그인 되었습니다.</strong>
		            </div>
		            <div class="type2" style="display: none;">
			            <strong>일치하는 정보가 없습니다.</strong>
			            <p>정보를 확인 후 다시 입력하여 주시기 바랍니다.</p>
		            </div>
		        </div>   
		        <div class="btm">           
		            <div class="btm-btns">
		            	<button type="button" onclick="fnClose_layerPopup(); " class="btn-md btn-cancel" style="display: none; ">취소</button>
		            	<button type="button" onclick="fnCallback_layerPopup(); " class="btn-md black">확인</button>
		            </div>
		        </div>     
		    </div>    
		 </div>
	 </div>
	 <script type="text/javascript">
		var el_layerPop = null;
		var fn_callback = null;
		$(document).ready(function(){
			el_layerPop = $(".layer-pop");
		});

		var fnOpen_layerPopup = function(message, message_sub, callback, btn_type) {
			var type = null;
			fn_callback = callback;
			
			if (message!='' && message_sub!='' ) {
				type = el_layerPop.find(".type2");
				type.find("strong").text(message);
				type.find("p").text(message_sub);
			} else {
				type = el_layerPop.find(".type1");
				type.find(".tx2").text(message);
			}

			type.show();
			el_layerPop.show();

			if (btn_type=='confirm') {
				el_layerPop.find(".btn-cancel").show();
			} else {
				el_layerPop.find(".btn-cancel").hide();
			}
		}

		var fnCallback_layerPopup = function() {
			if (typeof fn_callback=='function') {
				fn_callback(); 
			}

			fnClose_layerPopup();
		}

		var fnClose_layerPopup = function() {
			el_layerPop.hide();
			el_layerPop.find(".type2").hide();
			el_layerPop.find(".type1").hide();
		}
	</script>
	<form id="commonForm" name="commonForm"></form>
	<iframe name="hidden_iframe" id="hidden_iframe" title="숨겨진 프레임" src="about:blank" style="width: 0px; height: 0px; border: 0px; display: none; " ></iframe>
</body>
</html>