@charset "utf-8";
@import "reset.css";
@import "font.css";
.chartjsLegend li span {
       display: inline-block;
       width: 12px;
       height: 12px;
       margin-right: 5px;
       border-radius: 25px;
}
/* common style */
.btn-sm, .btn-md, .btn-lg{display:inline-block;box-sizing: border-box;text-align: center;}
.btn-sm{width:120px;height:30px;padding:7px 0;background:#d8d8d8;color:#666;font-size:1rem}
.btn-md{min-width:140px;height:40px;padding:12px 20px 11px;background:#fff;color:#333;border:1px solid #b9b9b9;font-size:1rem}
.btn-md.on{background:#666;color:#fff;border:1px solid #666}
.btn-lg{min-width:200px;height:50px;padding:14px 20px;background:#898989;color:#fff;font-size:1.25rem}
.btn-more{display:inline-block;padding-right:40px;background:url(../../images/ico-plus.png) no-repeat 100% 50%;line-height: 30px;font-weight:300;}
.black{background:#000 !important}
.blue{background:#0b21ab !important;color:#fff;border:0}
.indigo{background:#0b7cab !important}
.gray{background:#666 !important;color:#fff;border:0}
.ipt{height:50px !important}
.ipt-email{width:480px;margin-right:46px}
.mb40{margin-bottom:40px}
.mt50{margin-top:50px !important}
.st-ing{color:#0b21ab}
.st-ok{color:#d62626}
.full{width:100%}
.tx-blue{color:#0b21ab}
.tx-red{color:#ff0000}
.tx1{font-size:1.125rem}
.tx2{font-size:1.250rem}
.error-msg{color:#ff0000}
/* layer popup */
.layer-pop{display:none;position: fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6)}
.layer-pop .alert-pop{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.alert-pop{width:500px;background:#fff}
.alert-pop-head{position:relative;height:40px;border-top:10px solid #0b21ab;}
.alert-pop-head h2{padding-left:40px;padding-top:18px;font-size:1.25rem;font-weight: 500;}
.alert-pop-head .alert-close{position:absolute;top:0;right:0;width:40px;height:40px;background:url(../../images/ico-x.png) no-repeat 50% 50%;font-size:0}
.alert-pop-body{padding:0 40px 30px;text-align: center;}
.alert-pop-body .msg{padding:30px 0;text-align: center;line-height:1.5;font-weight: 100;}
.alert-pop-body .msg strong{font-weight: 500;}
.alert-pop-body .btm{border-top:1px solid #0b21ab}
.alert-pop-body .btm p{margin-top:20px;line-height: 1.5;}
.alert-pop-body .btm-btns{margin-top:30px}
.alert-pop-body .btm-btns .btn-md{margin:0 5px}
.paging{margin-top:60px;text-align: center;}
.paging a, .paging strong{display:inline-block;min-width:30px;height:30px;box-sizing: border-box;text-align: center;line-height: 30px;border:1px solid #999;color:#666;margin:0 4px}
.paging strong{border:1px solid #000;color: #fff;background:#000}
.paging a.on{border:1px solid #000;color: #fff;background:#000}
.paging .p-first, .paging .p-prev, .paging .p-next, .paging .p-last{font-size:0}
.paging .p-first{background:url(../../images/p-first.png) no-repeat 50% 50%}
.paging .p-prev{background:url(../../images/p-prev.png) no-repeat 50% 50%}
.paging .p-next{background:url(../../images/p-next.png) no-repeat 50% 50%}
.paging .p-last{background:url(../../images/p-last.png) no-repeat 50% 50%}
/**/
.static{max-width:1400px;margin:0 auto}
#wrap{min-height:100%;background:#f6f6f6} 
#header{position:absolute;top:0;left:0;width:100%;height:180px;}
#header .header-top .static{display:flex;justify-content: space-between;align-items: center;padding:30px 0}
#header .header-gnb{background:#0b21ab}
#header h1 a{display:inline-block;width:150px;height:48px;margin-left:22px;background:url(../../images/hh.png) no-repeat;font-size:0}
#header h1 .tit{margin-left:30px;font-size:1.5rem;vertical-align: middle;line-height: 50px;font-weight: 500;}
#header .gnb{overflow:hidden;}
#header .gnb>li{float: left;}
#header .gnb>li>a{display:block;padding:23px 60px;color:#fff;font-size:1.375rem}
#header .gnb>li:first-child>a{padding-left:30px}
#header .gnb>li.on>a{color:#bbff28}
#container{box-sizing:border-box;min-height:100%;min-height:100vh;margin-bottom:-114px}
#container .static{display:flex;justify-content: space-between;padding:200px 0 174px;}
#container .static nav{width:21%;background:#fff}
#container .static .contents{width:78%}
#footer{height:114px}
#footer .static{padding:20px 0 60px;color:#999;text-align: center;font-weight: 100;}
#footer address{display:inline-block;margin:0 15px;vertical-align: middle;}
#footer span{margin:0 15px;vertical-align: middle;}
#footer .tel{margin:0 15px}
#footer .f-logo{display:inline-block;width:98px;height:33px;background:url(../../images/ff.png) no-repeat 0 0;font-size:0}
.lnb{padding:35px 30px}
.lnb h2{padding:25px 0 15px;font-size:1.125rem;border-top:1px solid #b9b9b9}
.lnb li ul{margin-bottom:20px;}
.lnb li ul>li>a{display:block;padding:10px 0;font-size:0.875rem;position: relative;}
.lnb li ul>li{position:relative;}
.lnb li ul>li.on{color:#fff}
.lnb li ul>li.on:before{content:'';display:block;position:absolute;top:0;left:-5%;width:110%;height:100%;background:#1b30b1;color:#fff;border-radius: 5px;}
.lnb>li:first-child>h2{padding-top:0;border-top:0}
.contents-top{display:flex;justify-content: space-between;align-items: center;padding:25px 40px;background:#fff}
.contents-top .btn-md{margin-right:8px}
.contents-top .tit{line-height: 40px;margin-right:15px}
.h-group{padding:30px 0 14px 40px}
.h-group h3{display:inline-block;font-size:1.25rem;font-weight: 700;vertical-align:middle;}
.h-group span{display:inline-block;margin-left:40px;margin-top:5px;vertical-align:middle;}
.grid-twin{display:flex;justify-content: space-between;flex-wrap: wrap;margin-top:10px}
.grid-twin>div{width:49.5%;background:#fff;box-sizing: border-box;padding:10px}
.grid-full{width:100%;background:#fff;margin-top:10px;box-sizing: border-box;padding:10px}

/*2020-08-10*/
.header-gnb .static{position: relative;}
.gnb-prev,.gnb-next{position:absolute;top:50%;display:inline-block;width:30px;height:30px;transform: translate(0, -50%);font-size:0;background:rgba(255,255,255,0.2);border-radius: 100%;}
.gnb-prev{left:-50px}
.gnb-next{right:-50px}
.gnb-prev:before,.gnb-next:before{display:inline-block;font-family: 'NotoSans';opacity: 0.75;color:#fff;vertical-align: top;line-height:0;font-size:40px;text-align: center;position: absolute;top:11px}
.gnb-prev:before{content: '\2039';left:8px}
.gnb-next:before{content: '\203A';right:7px}
/*2020-08-14*/
body{background:#f6f6f6}
#header{z-index: 101}
.fixed #header .header-gnb{position:fixed;top:0;left:0;width:100%}
.fixed #container{margin-bottom:0}
.fixed #container>.static{position: relative;padding-top:290px;padding-bottom:40px}
.fixed #container nav{position: fixed;top:90px;width:294px;height: calc(100% - 90px);overflow:hidden;overflow-y: auto;}
.fixed #container .contents{width:1092px;margin-left:308px}
.fixed #footer>.static{padding-left:308px;box-sizing: border-box;}
.fixed #footer .copy{display:block}

/*20-09-15*/
.contents-top{min-height:40px}
.section .blank{min-height:600px;margin-top:20px;background:#fff}
.section .cont-sect1{min-height:600px;margin-top:20px;background:#fff}
.section .cont-sect2{min-height:600px;margin-top:20px;background:#fff}
.nav-tit{padding:50px 0;text-align:center}
.nav-no-data{padding:50px 0;text-align:center;font-size:0.875rem}
.nav-btn-add{text-align: center;}
.btn-add{width:200px;height:50px;border-radius: 5px;background: #1b30b1;color:#fff}
.btn-add span{padding-left:23px;background:url(../../images/ico-plus.png) no-repeat 0 50%;font-size:0.875rem}
.radio-b{display:inline-block}
.radio-b input{position: absolute;clip: rect(1px,1px,1px,1px);}
.radio-b input + label:after{content:'';display:block;width:25px;height:25px;margin:40px auto 0;background:url(../../images/ico-chk2.png) no-repeat 50% 50%}
.radio-b input + label{position:relative;line-height:22px}
.radio-b input:checked + label{color:#222}
.radio-b input:checked + label:after{content:'';background:url(../../images/ico-chk2-on.png) no-repeat 50% 50%}
.cont-sect1{padding:60px 110px 80px}
.cont-sect2{padding:60px 40px 80px}
.sel-graph-wrap{display:flex;justify-content: space-between;}
.sel-graph-wrap .radio-b{width:100%;text-align:center}
.sel-graph-wrap .radio-b:before{content:'';display:block;height: 68px;width:100%;}
.sel-graph-wrap .g-bar:before{background: url(../../images/ico-g1.png) no-repeat 50% 0;}
.sel-graph-wrap .g-line:before{background: url(../../images/ico-g2.png) no-repeat 50% 0;}
.sel-graph-wrap .g-circle:before{background: url(../../images/ico-g3.png) no-repeat 50% 0;}
.sel-graph-wrap .g-map:before{background: url(../../images/ico-g4.png) no-repeat 50% 0;}
.btn-btm-center{margin-top:60px;text-align: center;}
.sect1{margin-top:80px}
.sect1 .tit{margin-bottom:50px}
.sect1 .tit h3{margin-bottom:10px}
.sect1 .data-act{display: flex;align-items: center;margin-bottom:20px}
.sect1 .data-act .btn-md{width:250px;margin-right:30px}
.switch{position: relative;display:inline-block;width:40px;height:20px}
.switch input{opacity: 0;width:0;height:0}
.switch .slider{position:absolute;top:0;left:0;right:0;bottom:0;background:#ccc;transition: .4s;border-radius: 10px;}
.switch .slider:before{position: absolute;content:'';width:16px;height:16px;right:2px;bottom:2px;background:#fff;border-radius:100%;}
.switch input:checked + .slider {background-color: #0b21ab;}
.switch input:checked + .slider:before {transform: translateX(-20px);}
.status-info{text-align:right}
.status-info .tit{vertical-align: middle;margin-right:5px}
.status-info .btn-del{margin-left:15px}
.btn-del{width:50px;height:20px;background:#ff0000;color:#fff;line-height: 20px;font-size:0.875rem}