@charset "utf-8";
@import "reset.css";
@import "font.css";

#wrap{min-height:100%;background: #fafafa}
#header .static{display:flex;justify-content: space-between;align-items: center;max-width:1600px;margin:0 auto;padding:50px 100px;border-top:10px solid #0b21ab;border-bottom:3px solid #0b21ab;box-sizing: border-box;}
#header .static h1 img> #header .static h1 span{display:inline-block}
#header .static h1 span{font-size: 20px;font-weight: 700;margin-left:15px;vertical-align:middle;}
#header .static .logo2{display:block;width:163px;height:74px;background:url(../images/h1-logo2.png) no-repeat 50% 50%;font-size:0}
.login{max-width:1600px;margin:0 auto;padding:180px 0 310px;border-bottom:3px solid #0b21ab;}
.login-form{width:1100px;margin:0 auto;padding-top:170px;background:url(../images/img-log.png) no-repeat 50% 0}
.login-form label{display:inline-block;padding:0 20px 0 40px;font-size:1.125rem}
.login-form .fir{padding-left:0}
.login-form .ipt{width:330px;height:50px;border:1px solid #999}
.login-form .btn-log{display:inline-block;width:200px;height:50px;background:#0b21ab;color:#fff;font-size:26px;font-weight: 700;margin-left:20px}
.contents{max-width: 1600px;margin:0 auto;padding:50px}
.table{width:100%}
.table th, .table td{padding:10px;border:1px solid #ddd;text-align: center;}
.table thead th{padding:20px 0;background:#ddebf7}
.table tbody th{background:#ededed}
.table tbody th, .table tbody td{font-size:0.875rem}
.table .agL{text-align: left;}
.table tbody td a{text-decoration: underline;color:#0b21ab;}
.title{font-size:1.5rem;font-weight: 700;margin-bottom:20px}
.agC{text-align: center;}